node_modules/
dist/
.build/
artifacts/
target/
**/target/
**/build/
**/.gradle/
**/local.properties
**/libs/*.aar
**/jniLibs/
**/assets/web/
src-tauri/runtime/*.exe
src-tauri/runtime/*.dll
src-tauri/gen/
*.jks
*.keystore
*.dpapi
.DS_Store
Thumbs.db
